# Pandas

In [3]:
import pandas as pd

In [15]:
dic = {'Nombre': ['Alex', 'Roger', 'Rafa', 'Adrian', None], 'Edad': [30, 29, 28, 31, 30]}
lista = pd.DataFrame(dic)
lista

   Nombre  Edad
0    Alex    30
1   Roger    29
2    Rafa    28
3  Adrian    31
4    None    30

In [23]:
type(lista)

pandas.core.frame.DataFrame

In [25]:
type(lista['Nombre']) # las columnas se les llama series

pandas.core.series.Series

In [26]:
lista['Nombre'], lista['Edad']

(0      Alex
 1     Roger
 2      Rafa
 3    Adrian
 4      None
 Name: Nombre, dtype: object,
 0    30
 1    29
 2    28
 3    31
 4    30
 Name: Edad, dtype: int64)

In [31]:
lista['Nombre'][1:]

1     Roger
2      Rafa
3    Adrian
4      None
Name: Nombre, dtype: object

In [32]:
lista['Edad'][2]

np.int64(28)

In [33]:
type(lista['Edad'][2])

numpy.int64

In [34]:
lista.loc[2]

Nombre    Rafa
Edad        28
Name: 2, dtype: object

In [35]:
lista.iloc[2]

Nombre    Rafa
Edad        28
Name: 2, dtype: object

In [38]:
alumnos = pd.DataFrame({'Progra': [9,8,7,6], 'Mate': [6,5,4,3], 'AI': [9,8,7,6]}, index = ['Panke', 'Faxinaar', 'Puercules', 'Kanye West'])
alumnos

            Progra  Mate  AI
Panke            9     6   9
Faxinaar         8     5   8
Puercules        7     4   7
Kanye West       6     3   6

In [39]:
alumnos['Progra']

Panke         9
Faxinaar      8
Puercules     7
Kanye West    6
Name: Progra, dtype: int64

In [40]:
alumnos['Mate']

Panke         6
Faxinaar      5
Puercules     4
Kanye West    3
Name: Mate, dtype: int64

In [42]:
alumnos['AI']

Panke         9
Faxinaar      8
Puercules     7
Kanye West    6
Name: AI, dtype: int64

In [47]:
alumnos.loc['Panke'].mean()

np.float64(8.0)

In [52]:
alumnos.iloc[-1]

Progra    6
Mate      3
AI        6
Name: Kanye West, dtype: int64

In [51]:
alumnos.loc['Kanye West']

Progra    6
Mate      3
AI        6
Name: Kanye West, dtype: int64