In [2]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
import pandas.io.sql as sqlio

In [8]:
conn1=psycopg2.connect(
	database="postgres",
	user="postgres",
	password="panke",
	host='127.0.0.1',
	port= '5432',
	options ='-c search_path="public"'
)

In [17]:
conn_string = 'postgresql://postgres:panke@127.0.0.1/postgres'
db = create_engine(conn_string)
conn = db.connect()

In [9]:
# Creacion de un cursor
conn1.autocommit = True
cursor = conn1.cursor()

In [12]:
sql1='select * from "pankePrueba";'
cursor.execute(sql1)

In [15]:
sql_select = 'select * from "pankePrueba";'
dataFrameRead = pd.read_sql_query(sql_select, con=conn1)
dataFrameRead

C:\Users\Dell Latitude\AppData\Local\Temp\ipykernel_16348\1623353731.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dataFrameRead = pd.read_sql_query(sql_select, con=conn1)

   id nombre       panadero  azucar           forma
0   1  Panke  Pankesito Rex    True  Pseudoesferica

In [18]:
students_test = pd.read_sql_table( 
    'pankePrueba',
    con=conn,
    columns=['id', 'nombre', 'panadero', 'azucar', 'forma'],
    schema='public'
) 
  
print(students_test)

   id nombre       panadero  azucar           forma
0   1  Panke  Pankesito Rex    True  Pseudoesferica

In [25]:
query = r"""INSERT INTO public."pankePrueba"(nombre, panadero, azucar, forma) VALUES ('Bolillo', 'Faxinaar', True, 'Ovoide');"""
cursor.execute(query)

In [26]:
students_test = pd.read_sql_table( 
    'pankePrueba',
    con=conn,
    columns=['id', 'nombre', 'panadero', 'azucar', 'forma'],
    schema='public'
) 
  
print(students_test)

   id   nombre          panadero  azucar           forma
0   1    Panke     Pankesito Rex    True  Pseudoesferica
1   2    Panke     Pankesito Rex    True  Pseudoesferica
2   3     Dona     Pankesito Rex   False         Toroide
3   4  Peruana  El fokin RRRRRod    True        Platillo
4   5  Bolillo          Faxinaar    True          Ovoide